{% extends "base.html" %}

{% block title %} Job:{{ job.sync_type.name }} | Loopholes {% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col col-12">

                <div class="card dark-mode">
                    <div class="card-body">
                        <div class="float-right">
                            {% if job.status == "PRODUCTIVE" %}
                            <span class="badge badge-success"><i class="las la-check-circle"></i> GOOD</span>
                            {% elif job.status == "COMPLETED" %}
                            <span class="badge badge-primary"><i class="las la-check-double"></i> OK</span>
                            {% elif job.status == "FAILED" %}
                            <span class="badge badge-danger"><i class="las la-times-circle"></i> BAD</span>
                            {% elif job.status == "STARTED" %}                  
                            <span class="badge badge-pill badge-dark"><i class="las la-running"></i> OooOooO</span>
                            {% endif %}
                        </div>
                        
                        <h5 class="card-title">
                            <span class="licon">
                               <i class="las la-business-time"></i> #{{ job.id }}: 
                             </span>                            
                             <span class="text-muted job-unique-key">
                                {% set key = job.unique_key.split(':') %}
                                <span class="ltitle">{{ key[0] }}</span>
                                <span class="badge badge-light">{{ key[1] }}</span>
                                <span class="unique-key">{{ key[2] }}</span>
                             </span>                            
                          </h5>                       
                        <h6 class="card-subtitle mb-2 text-muted"><i class="las la-calendar"></i> Timestamp: {{ job.created_at }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"><i class="las la-tasks"></i>  Tasks: {{ task_count }}</h6>
                        <hr class="dm-background"/>
                        <p>
                            <code class="loop-code">                                                  
                                <strong><i class="las la-arrow-alt-circle-right"></i> Client IP:</strong> {{ job.extras.client_ip }}<br/>
                                <strong><i class="las la-link"></i> URL Path:</strong> {{ job.extras.url_path }}<br/>
                                <strong><i class="las la-link"></i> URL Query:</strong> {{ job.extras.url_query }}<br/>
                                <strong>Error:</strong> {{ job.err }}
                    </code>
                        </p>                        
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <hr class="dm-background"/>    

    <div>
        {% for item in tasks %}
        <div class="row">
            <div class="col col-12">

                <div class="card dark-mode">
                    <div class="card-body">                        
                        <h5 class="card-title">
                            <span class="licon">
                                <i class="las la-file"></i> # {{ item.id }} :
                             </span> 
                             <a href="{{ item.url }}" target="_blank">
                                <span class="ltitle">{{ item.name }}</span>
                             </a>               
                        </h5>                        
                        <h6 class="card-subtitle mb-2">
                            <span class="licon"><i class="las la-key"></i> Key:</span> 
                            <span class="unique-key">{{ item.unique_key }}</span>
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted"><i class="las la-sync"></i> Type: {{ item.sync_type.name }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"><i class="las la-calendar"></i> Timestamp: <span class="badge badge-light">{{ item.data.get("timestamp") or item.created_at }}</span></h6>
                        <hr class="dm-background"/>
                        <p>
                            <code class="loop-code">                            
                                {% for key in item.data %}                        
                                <strong><i class="las la-feather-alt"></i> {{ key }}</strong>: {{ item.data.get(key) }}
                                <br/>                        
                                {% endfor %}
                            </code>
                        </p>                        
                    </div>
                </div>
                <br/>

            </div>
        </div>
        {% else %}
        
        <div class="d-flex justify-content-center licon">
            <h1>No Tasks found <i class="las la-frown"></i></h1>    
        </div>
        {% endfor %}
    </div>
{% endblock %}