{% extends "base.html" %}

{% block title %}SyncTypes | Loopholes {% endblock %}


{% block content %}
<div class="">
  {% for item in items %}
  <div class="row">
     <div class="col col-12">
        <div class="card dark-mode">
           <div class="card-body">              
              <h5 class="card-title">
                  <span class="licon">
                     <i class="las la-sync"></i> #{{ item.id }}: 
                  </span>
                  <a href="{{ request.url_for('sync_type', id=item.id) }}">
                     <span class="text-muted ltitle">{{ item.name }}</span>
                  </a>
               </h5>              
              <h6 class="card-subtitle mb-2 text-muted"><i class="las la-calendar-alt"></i> Timestamp: {{ item.created_at }}</h6>
              <h6 class="card-subtitle mb-2 text-muted"><i class="las la-business-time"></i> Jobs: {{ item.jobs | length }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">
                 <i class="las la-tasks"></i> Tasks: {{ item.tasks | length }}
                 <secondary><a href="{{ request.url_for('sync_type_tasks', id=item.id) }}">View all</a></secondary>
               </h6>
              <hr class="dm-background"/>

              <a class="float-right" data-toggle="collapse" href="#collapseExample-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample">
               <h2 style="color: darkgray;"><i class="las la-plus-square"></i></h2>
             </a>
            
               <div class="collapse" id="collapseExample-{{ loop.index }}">
                  <div class="card dark-mode">
                     <code class="loop-code">                 
                        <strong><i class="las la-toggle-off"></i> Enabled:</strong> {{ item.enabled }}<br/>
                        <strong><i class="las la-lock"></i> Is Locked:</strong> {{ item.locked }}<br/>
                        <strong><i class="las la-paper-plane"></i> Dispatch To:</strong> {{ item.dispatch_to }}<br/>
                        <strong><i class="las la-bell"></i> Dispatch Notification:</strong> {{ item.dispatch_notification }}<br/>
                        <strong><i class="las la-anchor"></i> Base URL:</strong> {{ item.base_url }}<br/>
                        <strong><i class="las la-list"></i> Extras:</strong> {{ item.extras }}
                     </code>
                  </div>
               </div>                            

           </div>
        </div>
        <br/>
     </div>
  </div>
  {% endfor %}
</div>

{% endblock %}