{% extends "base.html" %}

{% block title %} ST:{{ sync_type.name }} | Loopholes {% endblock %}

{% block content %}
    <div>
        <div class="row">
            <div class="col col-12">

                <div class="card dark-mode">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span class="licon">
                               <i class="{{ icn_sync_type }}"></i> #{{ sync_type.id }}: 
                            </span>
                            <a href="{{ request.url_for('sync_type', id=sync_type.id) }}">
                               <span class="ltitle">{{ sync_type.name }}</span>
                            </a>
                         </h5>              
                        <h6 class="card-subtitle mb-2 text-muted"><i class="las la-calendar"></i> Timestamp: {{ sync_type.created_at }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"><i class="las la-business-time"></i>  Jobs: {{ job_count }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <i class="las la-tasks"></i>  Tasks: {{ task_count }}
                            <secondary><a href="{{ request.url_for('sync_type_tasks', id=sync_type.id) }}">View all</a></secondary>
                        </h6>
                        <hr class="dm-background"/>

                        <a class="float-right" data-toggle="collapse" href="#collapseExample-sync-type" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <h2 style="color: darkgray;"><i class="las la-plus-square"></i></h2>
                        </a>
                         
                        <div class="collapse" id="collapseExample-sync-type">
                            <div class="card dark-mode">
                                <code class="loop-code">                 
                                    <strong><i class="las la-toggle-off"></i> Enabled:</strong> {{ sync_type.enabled }}<br/>
                                    <strong><i class="las la-lock"></i> Is Locked:</strong> {{ sync_type.locked }}<br/>
                                    <strong><i class="las la-paper-plane"></i> Dispatch To:</strong> {{ sync_type.dispatch_to }}<br/>
                                    <strong><i class="las la-bell"></i> Dispatch Notification:</strong> {{ sync_type.dispatch_notification }}<br/>
                                    <strong><i class="las la-anchor"></i> Base URL:</strong> {{ sync_type.base_url }}<br/>                                    
                                    {% for k, v in sync_type.extras.items() %}
                                        <strong><i class="las la-list"></i> {{ k }}:</strong> {{ v }}<br/>
                                    {% endfor %}
                                </code>
                            </div>
                        </div>

                    </div>
                </div>                

            </div>
        </div>
    </div>

    <hr class="dark-mode"/>    

    <!-- Job -->
    <div>
        <div class="row">
            <div class="col col-12">
                <div class="card dark-mode">
                    <div class="card-body">
                        <h5 class="card-title ltitle" style="color: white;"><i class="las la-business-time"></i> Jobs</h5>
                        <table class="table table-dark table-responsive">
                            <thead>
                              <tr class="ltitle" style="color: white;">
                                <th scope="col">#</th>                                
                                <th scope="col"><i class="las la-key"></i> Key</th>  
                                <th scope="col"><i class="las la-question-circle"></i> Status</th>                                
                                <th scope="col"><i class="las la-tasks"></i> Tasks</th>                                
                                <th scope="col"><i class="las la-code"></i> Args</th>                                                                               
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in jobs %}
                                {% set job = item[0] %}
                                {% set job_task_count = item[1] %}
                                <tr>
                                    <th scope="row"><a href="{{ request.url_for('job', id=job.id) }}" class="licon">{{ job.id }}</a></th>
                                    <td>
                                        <a href="{{ request.url_for('job', id=job.id) }}" class="job-unique-key">
                                            {% set key = job.unique_key.split(':') %}                                                                 
                                            <span class="badge badge-light">{{ key[1] }}</span>                                            
                                        </a>
                                    </td>                                                                
                                    <td>
                                        {% if job.status == "PRODUCTIVE" %}
                                        <span class="badge badge-success"><i class="las la-check-circle"></i> GOOD</span>
                                        {% elif job.status == "COMPLETED" %}
                                        <span class="badge badge-primary"><i class="las la-check-double"></i> OK</span>
                                        {% elif job.status == "FAILED" %}
                                        <span class="badge badge-danger"><i class="las la-times-circle"></i> BAD</span>
                                        {% elif job.status == "STARTED" %}                  
                                        <span class="badge badge-pill badge-dark"><i class="las la-running"></i> OooOooO</span>
                                        {% else %}                  
                                        <span class="badge badge-warning"><i class="las la-running"></i> {{ job.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="licon">{{ job_task_count }}</td>                                    
                                    <td><code>{{ job.qp or job.extras.url_query }}</code></td>   
                                  </tr>
                                {% endfor %}                                                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job end -->

    <hr/>    

    <div>
        {% set items = tasks %}

        {% include 'task-list.html' %}

    </div>
{% endblock %}