<div>
  {% for item in items %}
  <div class="row">
     <div class="col col-12">
        <div class="card dark-mode">
           <div class="card-body">
              <h5 class="card-title">
                 <span class="licon">
                     <i class="las la-file"></i> # {{ item.id }} :
                  </span> 
                  <a href="{{ item.url }}" target="_blank">
                     <span class="ltitle">{{ item.name }}</span>
                  </a>               
               </h5>
              <h6 class="card-subtitle mb-2">
                 <span class="licon"><i class="las la-key"></i> Key:</span> 
                 <span class="unique-key">{{ item.unique_key }}</span>
               </h6>               
              <h6 class="card-subtitle mb-2 text-muted"><i class="las la-sync"></i> Type: <a href="{{ request.url_for('sync_type', id=item.sync_type.id) }}">{{ item.sync_type.name }}</a></h6>
              <h6 class="card-subtitle mb-2 text-muted">
               <i class="las la-code"></i> Args: <code>{{ item.args or "default" }}</code>
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">
                 <i class="las la-calendar-alt"></i> Timestamp: <span class="badge badge-light">{{ item.data.get("timestamp") or item.created_at }}</span>
              </h6>                               
              
               <hr class="dm-background"/>
               
              {% if item.bookmark %}
                  <a class="float-right">
                     <h2 style="color: darkgray;"><i class="las la-star"></i></h2>
                  </a>
              {% else %}
                  {% set fav_url = url_for('bookmark', id=item.id) %}
                  <a class="float-right" onclick="make_fav('{{ fav_url }}', {{ item.id }} )">
                     <h2 style="color: darkgray;"><i class="las la-bookmark" id="icn-bm-{{item.id}}"></i></h2>
                  </a>                 
              {% endif %}               

              <a class="float-right" data-toggle="collapse" href="#collapseExample-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                 <h2 style="color: darkgray;"><i class="las la-plus-square"></i></h2>
               </a>
              
               <div class="collapse" id="collapseExample-{{ loop.index }}">
                  <div class="card dark-mode">
                     <code class="loop-code">
                        {% for key in item.data %}                        
                        <strong><i class="las la-feather-alt"></i> {{ key }}</strong>: {{ item.data.get(key) }}
                        <br/>                        
                        {% endfor %}
                     </code>
                  </div>
               </div>
                   
           </div>
        </div>
        <br/>
     </div>
  </div>
  {% else %}
   <div class="d-flex justify-content-center licon">
      <h1>No Tasks found <i class="las la-frown"></i></h1>    
   </div>
  {% endfor %}
</div>

<script>
   function make_fav(url, id){      
      
      $.ajax({
					type        : 'GET',					
					url         : url,					
					encode      : true,

					success: function(data, textStatus, jqXHR){                  
                  $("#icn-bm-" + id).removeClass("las la-bookmark").addClass("las la-star")
               },
               
					error: function(jqXHR, textStatus, errorThrown){						                  
                  console.log("ERROR")
               }	
               			  
				})
					// using the done promise callback
					.done(function(data) {						
                  // done                  
					});
   }
</script>
